/*****************************************
			MIJNVEILINGEN CSS 				
*****************************************/

.maincontent {
	margin-top: 80px;
	margin-bottom: 20px;
}

.maincontent .segment {
	background-color: rgba(150, 150, 150, 0.1);
}

.ui.product.segment {
	max-width: 300px;
	height: 380px;
	display: inline-block;
	margin: 10px 25px 10px 25px;
}

img.ui.image {
	height: 180px !important;
	margin: 0px;
}

h3.ui.niagara.header {
	margin: 0px !important;
}

a.ui.button {
	margin: 10px auto 5px auto;
}

.maincontent h1.ui.header {
	font-size: 3em;
}

.maincontent h3.ui.dividing.header {
	color: rgb(80, 80, 80);
}

.maincontent label {
	color: rgb(150,150,150) !important;
}

a:hover {
	color: #c49860 !important;
}

.maincontent h4.ui.header {
	margin: 0px;
}
.maincontent img {
	width: auto;
	height: auto;
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-height: 200px;
	margin: 20px auto 20px auto;
}