/*****************************************
			MIJNVEILINGEN CSS 				
*****************************************/

h1 {
	font-size: 30px;
	color: #39434A;
}

.hidden {
	display: none;
}

.banner.segment {
	min-height: 200px;
	padding: 1em 0em;
}

.banner .logo.item img {
	margin-right: 1em;
}

.banner h1.ui.header {
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 3em;
	font-weight: bold;
}

.banner {
	background-color: rgb(64, 112, 144) !important;
}

.mijnveilingen .ui.text.container {
	margin-bottom: 1.5em;
}

.mainContent h2.ui.header {
	margin: 1em;
	font-size: 2em;
}

.mainContent .ui.card.image {
	width: 357px;
	height: 357px; 
}

a:hover {
	color: #c49860 !important;
}

